@import url(
  'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;300;800&display=swap'
);
body{
  padding: 0px 3em;
}
h1{
  margin: 0px;
  padding: 0px;
}
*{
  font-family: 'Montserrat', sans-serif;
}